<main>
  <section>
    <p class="primary-700">Hey there, my name is</p>
    <h1 class="mat-display-4">Tyler Smart.</h1>
    <h2 class="mat-display-3 accent-400">I am a software engineer.</h2>
    <p class="mat-body">
      I design and develop full-stack software solutions for businesses and
      individuals. I am currently a software engineer at
      <a href="https://savory.mercatopartners.com/" target="_blank"
        >Savory Restaurant Fund</a
      >
      while I finish my degree at
      <a
        href="https://www.uvu.edu/catalog/current/departments/computer-science/software-engineering-bs/"
        target="_blank"
        >Utah Valley University</a
      >.
    </p>
    <br />

    <a
      mat-stroked-button
      color="primary"
      href="mailto:inquiries@tylersmart.dev"
      (click)="
        analytics.eventEmitter(
          'contact-upper',
          'engagement',
          'click',
          'contact'
        )
      "
      >Let's chat!</a
    >
  </section>
</main>

<app-decorative-squares></app-decorative-squares>
