<main>
  <section>
    <p class="primary-700">Hey there, my name is</p>
    <h1 class="mat-display-4">Tyler Smart.</h1>
    <h2 class="mat-display-3 accent-400">I am a software engineer.</h2>
    <p>
      I design and develop full-stack software solutions for businesses. I am
      currently a software engineer at
      <a href="https://savory.mercatopartners.com/" target="_blank"
        >Savory Restaurant Fund</a
      >
      while I finish my degree at
      <a
        href="https://www.uvu.edu/catalog/current/departments/computer-science/software-engineering-bs/"
        target="_blank"
        >Utah Valley University</a
      >.
    </p>
    <br />
    <button mat-stroked-button color="primary">Let's chat!</button>
  </section>

  <app-decorative-squares></app-decorative-squares>
</main>
