main {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 64px;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;

  position: relative;

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 8px 64px;
  }
}

:host {
  position: relative;

  app-decorative-squares {
    position: absolute;
    transform: rotate(45deg);
    left: 100vw;
    top: 0;
  }
}

@media screen and (max-width: 832px) {
  main {
    margin: 0 16px;
  }
}
