<main>
  <h1>About Me</h1>
  <section>
    <p>
      I began working on my Software Engineering degree at
      <a
        href="https://www.uvu.edu/catalog/current/departments/computer-science/software-engineering-bs/"
        target="_blank"
        >Utah Valley University</a
      >
      in 2018. In 2020, I joined
      <a href="https://savory.mercatopartners.com/" target="_blank"
        >Savory Restaurant Fund</a
      >
      as a developer. I have had the opportunity to work on many projects that
      have helped make life easier for employees and customers alike.
    </p>
    <p>
      These are a few of the technologies that I have been working with
      recently:
    </p>
    <br />
    <div class="skills">
      <app-skill
        *ngFor="let skill of skills"
        [name]="skill.name"
        [level]="skill.level"
      ></app-skill>
    </div>
  </section>
</main>

<app-decorative-squares></app-decorative-squares>
