<main>
  <section>
    <p>
      My love from computers was inherited from my father. I was always
      fortunate to have a computer in my home. I started learning how to code
      after playing a game the required some programming knowledge. Since then,
      I've always known what I wanted to do.
    </p>
    <p>
      I started working on my Software Engineering degree at Utah Valley
      University in 2018. In 2020, I started working at Savory Restaurant Fund
      as a developer. I have had the opportunity to work on several projects
      that have helped make life easier for employees and customers alike.
    </p>
    <p>
      These are a few of the technologies that I have been working with
      recently:
    </p>
    <ul>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Node.js</li>
      <li>Angular</li>
      <li>MongoDB</li>
      <li>Azure</li>
      <li>CI/CD</li>
      <li>Python</li>
    </ul>
  </section>
</main>
