<mat-sidenav-container>
  <mat-sidenav-content #content>
    <app-header
      [links]="links"
      (drawer)="drawer.toggle()"
      [container]="content"
    ></app-header>
    <app-hero></app-hero>
    <app-about id="about"></app-about>
    <app-education id="education"></app-education>
    <app-career id="career"></app-career>
    <app-projects id="projects"></app-projects>
    <app-contact id="contact"></app-contact>
    <app-footer></app-footer>
  </mat-sidenav-content>

  <mat-sidenav #drawer [fixedInViewport]="true" position="end">
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let link of links"
        [href]="link.url"
        (click)="drawer.toggle()"
        >{{ link.name }}</a
      >
      <mat-divider></mat-divider>
      <a mat-list-item href="https://github.com/TylerSmart">GitHub</a>
      <a mat-list-item href="https://www.linkedin.com/in/tylerstevensmart/"
        >LinkedIn</a
      >
      <a mat-list-item href="https://twitter.com/TylerSmartDev">Twitter</a>
      <a mat-list-item href="https://www.instagram.com/tylerstevensmart/"
        >Instagram</a
      >
      <mat-divider></mat-divider>
      <a mat-list-item href="assets/documents/Tyler Smart - Resume.pdf"
        >Resume</a
      >
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
