<main>
  <section>
    <span>Ember 2.0</span>
    <p>
      A restaurant management web app. Brands can build custom forms and reports
      that pull data from their POS and time keeping APIs. Data is compiled into
      custom KPI reports.
    </p>
    <ul>
      <li>Azure Web App</li>
      <li>Angular</li>
      <li>Express.js</li>
      <li>MongoDB</li>
      <li>CI/CD</li>
    </ul>
  </section>

  <section>
    <span>Swig Competition App</span>
    <p>
      A PWA designed for a soda shop company to manage and approve user
      submissions for different challenges. Designed to be appealing for the
      target audience and easy to manage for the moderation team.
    </p>
    <ul>
      <li>Azure Web App</li>
      <li>Angular</li>
      <li>Express.js</li>
      <li>Socket.io</li>
      <li>MongoDB</li>
      <li>CI/CD</li>
    </ul>
  </section>

  <section>
    <span>Dibs 2.0</span>
    <p>
      An improved version of scheduling app that integrates with Office 365.
      Displays schedule data for rooms in the office.
    </p>
    <ul>
      <li>Azure Web App</li>
      <li>PnP.js</li>
      <li>Angular</li>
      <li>Express.js</li>
    </ul>
  </section>

  <section>
    <span>Savory Fund Office Calendar</span>
    <p>
      A custom app that displays different pages to visualize data about office
      events and project data. Runs locally on a Raspberry Pi.
    </p>
    <ul>
      <li>Angular</li>
      <li>PnP.js</li>
      <li>Express.js</li>
      <li>monday.com API</li>
    </ul>
  </section>
</main>
