mat-toolbar {
  z-index: 1000;

  backdrop-filter: blur(5px);

  justify-content: center;

  #social-links {
    width: 400px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
}
