<mat-toolbar>
  <div id="social-links">
    <a href="https://github.com/TylerSmart" target="_blank">
      <mat-icon svgIcon="github" color="primary"></mat-icon>
    </a>
    <a href="https://www.linkedin.com/in/tylerstevensmart/" target="_blank">
      <mat-icon svgIcon="linkedin" color="primary"></mat-icon>
    </a>
    <a href="https://twitter.com/TylerSmartDev" target="_blank">
      <mat-icon svgIcon="twitter" color="primary"></mat-icon>
    </a>
    <a href="https://www.instagram.com/tylerstevensmart/" target="_blank">
      <mat-icon svgIcon="instagram" color="primary"></mat-icon>
    </a>
  </div>
</mat-toolbar>
