<main id="large" *ngIf="!(small$ | async)!.matches; else small">
  <section>
    <h2 class="primary-700">{{ project.name }}</h2>
    <mat-card>
      <mat-card-content>
        <p>
          {{ project.description }}
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="project.link || project.githubLink" align="end">
        <a
          *ngIf="project.link"
          mat-icon-button
          [href]="project.link"
          target="_blank"
        >
          <mat-icon color="primary">link</mat-icon>
        </a>
        <a
          *ngIf="project.githubLink"
          mat-icon-button
          [href]="project.githubLink"
          target="_blank"
        >
          <mat-icon svgIcon="github" color="primary"></mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
    <div class="technologies">
      <div
        class="technology mat-caption"
        *ngFor="let technology of project.technologies"
      >
        {{ technology }}
      </div>
    </div>
  </section>
  <div class="image" (click)="openImageCarousel()">
    <div class="shade"></div>
    <img [src]="project.images[0] ?? 'assets/images/placeholder.png'" alt="" />
  </div>
</main>

<ng-template #small>
  <main id="small">
    <mat-card>
      <mat-card-title class="primary-700">
        <h2>{{ project.name }}</h2>
      </mat-card-title>
      <mat-card-content>
        <p>
          {{ project.description }}
        </p>
        <div class="technologies">
          <div
            class="technology mat-caption"
            *ngFor="let technology of project.technologies"
          >
            {{ technology }}
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <a
          *ngIf="project.link"
          mat-icon-button
          [href]="project.link"
          target="_blank"
        >
          <mat-icon color="primary">link</mat-icon>
        </a>
        <a
          *ngIf="project.githubLink"
          mat-icon-button
          [href]="project.githubLink"
          target="_blank"
        >
          <mat-icon svgIcon="github" color="primary"></mat-icon>
        </a>
        <button mat-icon-button color="primary" (click)="openImageCarousel()">
          <mat-icon>image</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </main>
</ng-template>
